header{
    background-color: black;
}

h1{
    color: white;
}

.image-gallery {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: ;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}